*.iml
.gradle
/build-logic/.gradle\
/build-logic/
/build-logic/convention/build
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app-release-signed.apk
app-release-signed.apk.idsig
release-key.jks
.kotlin/errors/errors-1784182246864.log
